## PROYECTO INDIVIDUAL I

In [1]:
import pandas as pd

In [2]:
import numpy as np

## Transformaciones: El analista de datos requiere estas, y solo estas, transformaciones para sus datos:


Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

In [3]:
amazon = pd.read_csv(r"C:\Users\Roman Samuel Bracho\Desktop\HENRY\MLOpsReviews\amazon_prime_titles.csv")
amazon['ID']='a'+ amazon.show_id

amazon

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,as5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...,as9664
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve...",as9665
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...",as9666
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",as9667
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",as9668

In [4]:
disney = pd.read_csv(r"C:\Users\Roman Samuel Bracho\Desktop\HENRY\MLOpsReviews\disney_plus_titles.csv")
disney['ID']='d'+ disney.show_id
disney

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,ds1
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,ds2
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,ds3
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",ds4
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,ds5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...,ds1446
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...,ds1447
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum...",ds1448
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...,ds1449
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.,ds1450

In [5]:
hulu = pd.read_csv(r"C:\Users\Roman Samuel Bracho\Desktop\HENRY\MLOpsReviews\hulu_titles.csv")
hulu['ID']='h'+ hulu.show_id
hulu

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,hs1
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",hs2
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,hs3
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,hs4
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,hs5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,TV Show,Star Trek: The Original Series,NaN,NaN,United States,NaN,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...,hs3069
3069,s3070,TV Show,Star Trek: Voyager,NaN,NaN,United States,NaN,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...,hs3070
3070,s3071,TV Show,The Fades,NaN,NaN,United Kingdom,NaN,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...,hs3071
3071,s3072,TV Show,The Twilight Zone,NaN,NaN,United States,NaN,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...,hs3072
3072,s3073,TV Show,Tokyo Magnitude 8.0,NaN,NaN,Japan,NaN,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...,hs3073

In [6]:
netflix = pd.read_csv(r"C:\Users\Roman Samuel Bracho\Desktop\HENRY\MLOpsReviews\netflix_titles.csv")
netflix['ID']='n'+ netflix.show_id
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",ns1
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",ns2
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,ns3
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",ns4
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,ns5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",ns8803
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",ns8804
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,ns8805
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",ns8806
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,ns8807

Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”

In [7]:
amazon["rating"].fillna("G",inplace=True)
amazon

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,as5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...,as9664
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve...",as9665
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...",as9666
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",as9667
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",as9668

In [8]:
disney["rating"].fillna("G",inplace=True)
disney

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,ds1
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,ds2
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,ds3
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",ds4
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,G,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,ds5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...,ds1446
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...,ds1447
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum...",ds1448
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...,ds1449
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.,ds1450

In [9]:
hulu["rating"].fillna("G",inplace=True)
hulu

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,hs1
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,G,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",hs2
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,hs3
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,hs4
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,G,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,hs5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,TV Show,Star Trek: The Original Series,NaN,NaN,United States,NaN,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...,hs3069
3069,s3070,TV Show,Star Trek: Voyager,NaN,NaN,United States,NaN,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...,hs3070
3070,s3071,TV Show,The Fades,NaN,NaN,United Kingdom,NaN,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...,hs3071
3071,s3072,TV Show,The Twilight Zone,NaN,NaN,United States,NaN,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...,hs3072
3072,s3073,TV Show,Tokyo Magnitude 8.0,NaN,NaN,Japan,NaN,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...,hs3073

In [10]:
netflix["rating"].fillna("G",inplace=True)
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",ns1
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",ns2
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,ns3
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",ns4
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,ns5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",ns8803
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",ns8804
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,ns8805
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",ns8806
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,ns8807

De haber fechas, deberán tener el formato AAAA-mm-dd

In [11]:
amazon['date_added'] = pd.to_datetime(amazon['date_added'], errors = 'coerce')

In [12]:
amazon

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,2021-03-30,2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,as5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaT,1940,7+,60 min,Comedy,New York City street principles get an East Si...,as9664
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaT,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve...",as9665
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaT,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...",as9666
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaT,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",as9667
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaT,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",as9668

In [13]:
disney['date_added'] = pd.to_datetime(disney['date_added'], errors = 'coerce')
disney

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,2021-11-26,2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,ds1
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,2021-11-26,1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,ds2
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,2021-11-26,2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,ds3
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,2021-11-26,2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",ds4
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,2021-11-25,2021,G,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,ds5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom",2021-06-04,2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...,ds1446
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada",2021-04-02,2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...,ds1447
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States",2020-12-18,2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum...",ds1448
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States",2020-09-18,2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...,ds1449
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,2020-04-01,2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.,ds1450

In [14]:
hulu['date_added'] = pd.to_datetime(hulu['date_added'], errors = 'coerce')
hulu

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,2021-10-24,2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,hs1
1,s2,Movie,Silent Night,NaN,NaN,NaN,2021-10-23,2020,G,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",hs2
2,s3,Movie,The Marksman,NaN,NaN,NaN,2021-10-23,2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,hs3
3,s4,Movie,Gaia,NaN,NaN,NaN,2021-10-22,2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,hs4
4,s5,Movie,Settlers,NaN,NaN,NaN,2021-10-22,2021,G,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,hs5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,TV Show,Star Trek: The Original Series,NaN,NaN,United States,NaT,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...,hs3069
3069,s3070,TV Show,Star Trek: Voyager,NaN,NaN,United States,NaT,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...,hs3070
3070,s3071,TV Show,The Fades,NaN,NaN,United Kingdom,NaT,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...,hs3071
3071,s3072,TV Show,The Twilight Zone,NaN,NaN,United States,NaT,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...,hs3072
3072,s3073,TV Show,Tokyo Magnitude 8.0,NaN,NaN,Japan,NaT,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...,hs3073

In [15]:
netflix['date_added'] = pd.to_datetime(netflix['date_added'], errors = 'coerce')
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,ID
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",ns1
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",ns2
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,ns3
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",ns4
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,ns5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2019-11-20,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",ns8803
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2019-07-01,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",ns8804
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,ns8805
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",ns8806
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,ns8807

Los campos de texto deberán estar en minúsculas, sin excepciones

In [16]:
# Cambio los campos de texto, de mayusculas a minusculas.

amazon["type"] = amazon["type"].str.lower()
amazon["title"] = amazon["title"].str.lower()
amazon["director"] = amazon["director"].str.lower()
amazon["cast"] = amazon["cast"].str.lower()
amazon["country"] = amazon["country"].str.lower()
amazon["rating"] = amazon["rating"].str.lower()
#amazon["duration_type"] = amazon["duration_type"].str.lower()
amazon["listed_in"] = amazon["listed_in"].str.lower()
amazon["description"] = amazon["description"].str.lower()

In [17]:
disney["type"] = disney["type"].str.lower()
disney["title"] = disney["title"].str.lower()
disney["director"] = disney["director"].str.lower()
disney["cast"] = disney["cast"].str.lower()
disney["country"] = disney["country"].str.lower()
disney["rating"] = disney["rating"].str.lower()
#disney["duration_type"] = disney["duration_type"].str.lower()
disney["listed_in"] = disney["listed_in"].str.lower()
disney["description"] = disney["description"].str.lower()

In [18]:
hulu["type"] = hulu["type"].str.lower()
hulu["title"] = hulu["title"].str.lower()
hulu["director"] = hulu["director"].str.lower()
hulu["country"] = hulu["country"].str.lower()
hulu["rating"] = hulu["rating"].str.lower()
#hulu["duration_type"] = hulu["duration_type"].str.lower()
hulu["listed_in"] = hulu["listed_in"].str.lower()
hulu["description"] = hulu["description"].str.lower()

In [19]:
netflix["type"] = netflix["type"].str.lower()
netflix["title"] = netflix["title"].str.lower()
netflix["director"] = netflix["director"].str.lower()
netflix["cast"] = netflix["cast"].str.lower()
netflix["country"] = netflix["country"].str.lower()
netflix["rating"] = netflix["rating"].str.lower()
#netflix["duration_type"] = netflix["duration_type"].str.lower()
netflix["listed_in"] = netflix["listed_in"].str.lower()
netflix["description"] = netflix["description"].str.lower()

El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [20]:
amazon[['duration_int', 'duration_type']] = amazon['duration'].str.split(' ', n=-1, expand=True, regex=None)
amazon = amazon[amazon.columns[:10].tolist() + ['duration_int', 'duration_type'] + amazon.columns[10:-2].tolist()]

In [21]:
amazon

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,ID
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,113,min,"comedy, drama",a small fishing village must procure a local d...,as1
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,110,min,"drama, international",a metro family decides to fight a cyber crimin...,as2
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,69,min,documentary,"pink breaks the mold once again, bringing her ...",as4
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,45,min,"drama, fantasy",teenage matt banting wants to work with a famo...,as5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,movie,pride of the bowery,joseph h. lewis,"leo gorcey, bobby jordan",NaN,NaT,1940,7+,60 min,60,min,comedy,new york city street principles get an east si...,as9664
9664,s9665,tv show,planet patrol,NaN,"dick vosburgh, ronnie stevens, libby morris, m...",NaN,NaT,2018,13+,4 Seasons,4,Seasons,tv shows,"this is earth, 2100ad - and these are the adve...",as9665
9665,s9666,movie,outpost,steve barker,"ray stevenson, julian wadham, richard brake, m...",NaN,NaT,2008,r,90 min,90,min,action,"in war-torn eastern europe, a world-weary grou...",as9666
9666,s9667,tv show,maradona: blessed dream,NaN,"esteban recagno, ezequiel stremiz, luciano vit...",NaN,NaT,2021,tv-ma,1 Season,1,Season,"drama, sports","the series tells the story of diego maradona, ...",as9667
9667,s9668,movie,harry brown,daniel barber,"michael caine, emily mortimer, joseph gilgun, ...",NaN,NaT,2010,r,103 min,103,min,"action, drama, suspense","harry brown, starring two-time academy award w...",as9668

In [22]:
disney[['duration_int', 'duration_type']] = disney['duration'].str.split(' ', n=-1, expand=True, regex=None)
disney = disney[disney.columns[:10].tolist() + ['duration_int', 'duration_type'] + disney.columns[10:-2].tolist()]

In [23]:
disney

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,ID
0,s1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,23 min,23,min,"animation, family",join mickey and the gang as they duck the halls!,ds1
1,s2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,91 min,91,min,comedy,santa claus passes his magic bag to a new st. ...,ds2
2,s3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,23 min,23,min,"animation, comedy, family",sid the sloth is on santa's naughty list.,ds3
3,s4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,tv-pg,41 min,41,min,musical,"this is real life, not just fantasy!",ds4
4,s5,tv show,the beatles: get back,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,g,1 Season,1,Season,"docuseries, historical, music",a three-part documentary from peter jackson ca...,ds5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,movie,x-men origins: wolverine,gavin hood,"hugh jackman, liev schreiber, danny huston, wi...","united states, united kingdom",2021-06-04,2009,pg-13,108 min,108,min,"action-adventure, family, science fiction",wolverine unites with legendary x-men to fight...,ds1446
1446,s1447,movie,night at the museum: battle of the smithsonian,shawn levy,"ben stiller, amy adams, owen wilson, hank azar...","united states, canada",2021-04-02,2009,pg,106 min,106,min,"action-adventure, comedy, family",larry daley returns to rescue some old friends...,ds1447
1447,s1448,movie,eddie the eagle,dexter fletcher,"tom costello, jo hartley, keith allen, dickon ...","united kingdom, germany, united states",2020-12-18,2016,pg-13,107 min,107,min,"biographical, comedy, drama","true story of eddie edwards, a british ski-jum...",ds1448
1448,s1449,movie,bend it like beckham,gurinder chadha,"parminder nagra, keira knightley, jonathan rhy...","united kingdom, germany, united states",2020-09-18,2003,pg-13,112 min,112,min,"buddy, comedy, coming of age",despite the wishes of their traditional famili...,ds1449
1449,s1450,movie,captain sparky vs. the flying saucers,mark waring,charlie tahan,united states,2020-04-01,2012,tv-g,2 min,2,min,"action-adventure, animals & nature, animation",view one of sparky's favorite home movies.,ds1450

In [24]:
hulu[['duration_int', 'duration_type']] = hulu['duration'].str.split(' ', n=-1, expand=True, regex=None)
hulu = hulu[hulu.columns[:10].tolist() + ['duration_int', 'duration_type'] + hulu.columns[10:-2].tolist()]

In [25]:
hulu

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,ID
0,s1,movie,ricky velez: here's everything,NaN,NaN,NaN,2021-10-24,2021,tv-ma,NaN,NaN,NaN,"comedy, stand up",​comedian ricky velez bares it all with his ho...,hs1
1,s2,movie,silent night,NaN,NaN,NaN,2021-10-23,2020,g,94 min,94,min,"crime, drama, thriller","mark, a low end south london hitman recently r...",hs2
2,s3,movie,the marksman,NaN,NaN,NaN,2021-10-23,2021,pg-13,108 min,108,min,"action, thriller",a hardened arizona rancher tries to protect an...,hs3
3,s4,movie,gaia,NaN,NaN,NaN,2021-10-22,2021,r,97 min,97,min,horror,a forest ranger and two survivalists with a cu...,hs4
4,s5,movie,settlers,NaN,NaN,NaN,2021-10-22,2021,g,104 min,104,min,"science fiction, thriller",mankind's earliest settlers on the martian fro...,hs5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,tv show,star trek: the original series,NaN,NaN,united states,NaT,1966,tv-pg,3 Seasons,3,Seasons,"action, adventure, classics",the 23rd century adventures of captain james t...,hs3069
3069,s3070,tv show,star trek: voyager,NaN,NaN,united states,NaT,1997,tv-pg,7 Seasons,7,Seasons,"action, adventure, science fiction",catapulted into the distant sector of the gala...,hs3070
3070,s3071,tv show,the fades,NaN,NaN,united kingdom,NaT,2011,tv-14,1 Season,1,Season,"horror, international, science fiction",seventeen-year-old paul is haunted by apocalyp...,hs3071
3071,s3072,tv show,the twilight zone,NaN,NaN,united states,NaT,1959,tv-pg,5 Seasons,5,Seasons,"classics, science fiction, thriller",rod serling's seminal anthology series focused...,hs3072
3072,s3073,tv show,tokyo magnitude 8.0,NaN,NaN,japan,NaT,2009,tv-14,1 Season,1,Season,"anime, drama, international",the devastation is unleashed in the span of se...,hs3073

In [26]:
netflix[['duration_int', 'duration_type']] = netflix['duration'].str.split(' ', n=-1, expand=True, regex=None)
netflix = netflix[netflix.columns[:10].tolist() + ['duration_int', 'duration_type'] + netflix.columns[10:-2].tolist()]

In [27]:
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,ID
0,s1,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021-09-25,2020,pg-13,90 min,90,min,documentaries,"as her father nears the end of his life, filmm...",ns1
1,s2,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,2 Seasons,2,Seasons,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",ns2
2,s3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",NaN,2021-09-24,2021,tv-ma,1 Season,1,Season,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...,ns3
3,s4,tv show,jailbirds new orleans,NaN,NaN,NaN,2021-09-24,2021,tv-ma,1 Season,1,Season,"docuseries, reality tv","feuds, flirtations and toilet talk go down amo...",ns4
4,s5,tv show,kota factory,NaN,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,2 Seasons,2,Seasons,"international tv shows, romantic tv shows, tv ...",in a city of coaching centers known to train i...,ns5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,158 min,158,min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",ns8803
8803,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,2 Seasons,2,Seasons,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",ns8804
8804,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,88 min,88,min,"comedies, horror movies",looking to survive in a world taken over by zo...,ns8805
8805,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,88 min,88,min,"children & family movies, comedies","dragged from civilian life, a former superhero...",ns8806
8806,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,111 min,111,min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807

Se normaliza Seasons a season

In [28]:
amazon['duration_type'] = amazon['duration_type'].replace('Seasons','season')
amazon['duration_type'] = amazon['duration_type'].replace('Season','season')

In [29]:
disney['duration_type'] = disney['duration_type'].replace('Seasons','season')
disney['duration_type'] = disney['duration_type'].replace('Season','season')

In [30]:
hulu['duration_type'] = hulu['duration_type'].replace('Seasons','season')
hulu['duration_type'] = hulu['duration_type'].replace('Season','season')

In [31]:
netflix['duration_type'] = netflix['duration_type'].replace('Seasons','season')
netflix['duration_type'] = netflix['duration_type'].replace('Season','season')

Transformaciones: El analista de datos requiere estas, y solo estas, transformaciones para sus datos:

Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”

De haber fechas, deberán tener el formato AAAA-mm-dd

Los campos de texto deberán estar en minúsculas, sin excepciones

El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

## Amazon prime

In [32]:
amazon

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,ID
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,113,min,"comedy, drama",a small fishing village must procure a local d...,as1
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,110,min,"drama, international",a metro family decides to fight a cyber crimin...,as2
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,69,min,documentary,"pink breaks the mold once again, bringing her ...",as4
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,45,min,"drama, fantasy",teenage matt banting wants to work with a famo...,as5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,movie,pride of the bowery,joseph h. lewis,"leo gorcey, bobby jordan",NaN,NaT,1940,7+,60 min,60,min,comedy,new york city street principles get an east si...,as9664
9664,s9665,tv show,planet patrol,NaN,"dick vosburgh, ronnie stevens, libby morris, m...",NaN,NaT,2018,13+,4 Seasons,4,season,tv shows,"this is earth, 2100ad - and these are the adve...",as9665
9665,s9666,movie,outpost,steve barker,"ray stevenson, julian wadham, richard brake, m...",NaN,NaT,2008,r,90 min,90,min,action,"in war-torn eastern europe, a world-weary grou...",as9666
9666,s9667,tv show,maradona: blessed dream,NaN,"esteban recagno, ezequiel stremiz, luciano vit...",NaN,NaT,2021,tv-ma,1 Season,1,season,"drama, sports","the series tells the story of diego maradona, ...",as9667
9667,s9668,movie,harry brown,daniel barber,"michael caine, emily mortimer, joseph gilgun, ...",NaN,NaT,2010,r,103 min,103,min,"action, drama, suspense","harry brown, starring two-time academy award w...",as9668

## DisneyPlus

In [33]:
disney

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,ID
0,s1,movie,duck the halls: a mickey mouse christmas special,"alonso ramirez ramos, dave wasson","chris diamantopoulos, tony anselmo, tress macn...",NaN,2021-11-26,2016,tv-g,23 min,23,min,"animation, family",join mickey and the gang as they duck the halls!,ds1
1,s2,movie,ernest saves christmas,john cherry,"jim varney, noelle parker, douglas seale",NaN,2021-11-26,1988,pg,91 min,91,min,comedy,santa claus passes his magic bag to a new st. ...,ds2
2,s3,movie,ice age: a mammoth christmas,karen disher,"raymond albert romano, john leguizamo, denis l...",united states,2021-11-26,2011,tv-g,23 min,23,min,"animation, comedy, family",sid the sloth is on santa's naughty list.,ds3
3,s4,movie,the queen family singalong,hamish hamilton,"darren criss, adam lambert, derek hough, alexa...",NaN,2021-11-26,2021,tv-pg,41 min,41,min,musical,"this is real life, not just fantasy!",ds4
4,s5,tv show,the beatles: get back,NaN,"john lennon, paul mccartney, george harrison, ...",NaN,2021-11-25,2021,g,1 Season,1,season,"docuseries, historical, music",a three-part documentary from peter jackson ca...,ds5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,movie,x-men origins: wolverine,gavin hood,"hugh jackman, liev schreiber, danny huston, wi...","united states, united kingdom",2021-06-04,2009,pg-13,108 min,108,min,"action-adventure, family, science fiction",wolverine unites with legendary x-men to fight...,ds1446
1446,s1447,movie,night at the museum: battle of the smithsonian,shawn levy,"ben stiller, amy adams, owen wilson, hank azar...","united states, canada",2021-04-02,2009,pg,106 min,106,min,"action-adventure, comedy, family",larry daley returns to rescue some old friends...,ds1447
1447,s1448,movie,eddie the eagle,dexter fletcher,"tom costello, jo hartley, keith allen, dickon ...","united kingdom, germany, united states",2020-12-18,2016,pg-13,107 min,107,min,"biographical, comedy, drama","true story of eddie edwards, a british ski-jum...",ds1448
1448,s1449,movie,bend it like beckham,gurinder chadha,"parminder nagra, keira knightley, jonathan rhy...","united kingdom, germany, united states",2020-09-18,2003,pg-13,112 min,112,min,"buddy, comedy, coming of age",despite the wishes of their traditional famili...,ds1449
1449,s1450,movie,captain sparky vs. the flying saucers,mark waring,charlie tahan,united states,2020-04-01,2012,tv-g,2 min,2,min,"action-adventure, animals & nature, animation",view one of sparky's favorite home movies.,ds1450

## Hulu

In [34]:
hulu

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,ID
0,s1,movie,ricky velez: here's everything,NaN,NaN,NaN,2021-10-24,2021,tv-ma,NaN,NaN,NaN,"comedy, stand up",​comedian ricky velez bares it all with his ho...,hs1
1,s2,movie,silent night,NaN,NaN,NaN,2021-10-23,2020,g,94 min,94,min,"crime, drama, thriller","mark, a low end south london hitman recently r...",hs2
2,s3,movie,the marksman,NaN,NaN,NaN,2021-10-23,2021,pg-13,108 min,108,min,"action, thriller",a hardened arizona rancher tries to protect an...,hs3
3,s4,movie,gaia,NaN,NaN,NaN,2021-10-22,2021,r,97 min,97,min,horror,a forest ranger and two survivalists with a cu...,hs4
4,s5,movie,settlers,NaN,NaN,NaN,2021-10-22,2021,g,104 min,104,min,"science fiction, thriller",mankind's earliest settlers on the martian fro...,hs5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,tv show,star trek: the original series,NaN,NaN,united states,NaT,1966,tv-pg,3 Seasons,3,season,"action, adventure, classics",the 23rd century adventures of captain james t...,hs3069
3069,s3070,tv show,star trek: voyager,NaN,NaN,united states,NaT,1997,tv-pg,7 Seasons,7,season,"action, adventure, science fiction",catapulted into the distant sector of the gala...,hs3070
3070,s3071,tv show,the fades,NaN,NaN,united kingdom,NaT,2011,tv-14,1 Season,1,season,"horror, international, science fiction",seventeen-year-old paul is haunted by apocalyp...,hs3071
3071,s3072,tv show,the twilight zone,NaN,NaN,united states,NaT,1959,tv-pg,5 Seasons,5,season,"classics, science fiction, thriller",rod serling's seminal anthology series focused...,hs3072
3072,s3073,tv show,tokyo magnitude 8.0,NaN,NaN,japan,NaT,2009,tv-14,1 Season,1,season,"anime, drama, international",the devastation is unleashed in the span of se...,hs3073

## Netflix

In [35]:
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,ID
0,s1,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021-09-25,2020,pg-13,90 min,90,min,documentaries,"as her father nears the end of his life, filmm...",ns1
1,s2,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,2 Seasons,2,season,"international tv shows, tv dramas, tv mysteries","after crossing paths at a party, a cape town t...",ns2
2,s3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",NaN,2021-09-24,2021,tv-ma,1 Season,1,season,"crime tv shows, international tv shows, tv act...",to protect his family from a powerful drug lor...,ns3
3,s4,tv show,jailbirds new orleans,NaN,NaN,NaN,2021-09-24,2021,tv-ma,1 Season,1,season,"docuseries, reality tv","feuds, flirtations and toilet talk go down amo...",ns4
4,s5,tv show,kota factory,NaN,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,2 Seasons,2,season,"international tv shows, romantic tv shows, tv ...",in a city of coaching centers known to train i...,ns5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,158 min,158,min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",ns8803
8803,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,2 Seasons,2,season,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",ns8804
8804,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,88 min,88,min,"comedies, horror movies",looking to survive in a world taken over by zo...,ns8805
8805,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,88 min,88,min,"children & family movies, comedies","dragged from civilian life, a former superhero...",ns8806
8806,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,111 min,111,min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807

CONCATENAR DATAFRAMES

In [36]:
datos_PI_1 = pd.concat([amazon, disney, hulu, netflix], axis = 0)

In [37]:
datos_PI_1

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,duration_int,duration_type,listed_in,description,ID
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,113,min,"comedy, drama",a small fishing village must procure a local d...,as1
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,110,min,"drama, international",a metro family decides to fight a cyber crimin...,as2
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,74,min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,69,min,documentary,"pink breaks the mold once again, bringing her ...",as4
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,45,min,"drama, fantasy",teenage matt banting wants to work with a famo...,as5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,158 min,158,min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",ns8803
8803,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,2 Seasons,2,season,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",ns8804
8804,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,88 min,88,min,"comedies, horror movies",looking to survive in a world taken over by zo...,ns8805
8805,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,88 min,88,min,"children & family movies, comedies","dragged from civilian life, a former superhero...",ns8806
8806,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,111 min,111,min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807

In [38]:
datos_PI_1 = datos_PI_1.rename(columns={'ID': 'id'})

In [39]:
datos_PI_1.reset_index().to_csv('DatosA.csv', header = True, index = False)

Ratings

In [40]:
ratings1 = pd.read_csv(r"C:\Users\Roman Samuel Bracho\Desktop\HENRY\ratings\1.csv")
ratings1

         userId  rating   timestamp movieId
0             1     1.0  1425941529   as680
1             1     4.5  1425942435  ns2186
2             1     5.0  1425941523  hs2381
3             1     5.0  1425941546  ns3663
4             1     5.0  1425941556  as9500
...         ...     ...         ...     ...
1499995   15424     4.0  1370209959  as8698
1499996   15424     3.5  1369586045  as3663
1499997   15424     3.0  1372541792  as1325
1499998   15424     3.5  1372541811  ns4446
1499999   15424     3.5  1369606242  hs2569

[1500000 rows x 4 columns]

In [41]:
ratings2 = pd.read_csv(r"C:\Users\Roman Samuel Bracho\Desktop\HENRY\ratings\2.csv")
ratings2

         userId  rating   timestamp movieId
0         15424     3.0  1369585147  ns3012
1         15424     2.5  1369586851  ns3195
2         15424     3.0  1369585112   ns357
3         15424     2.5  1372541498  as7069
4         15424     3.0  1369586846  as6943
...         ...     ...         ...     ...
1499995   31331     4.0   867662780  as2992
1499996   31331     5.0   867662780  as8070
1499997   31331     4.0   867663188  as7838
1499998   31332     4.0   974205034  ns5462
1499999   31332     4.0   974205170  hs2852

[1500000 rows x 4 columns]

In [42]:
ratings3 = pd.read_csv(r"C:\Users\Roman Samuel Bracho\Desktop\HENRY\ratings\3.csv")
ratings3

         userId  rating   timestamp movieId
0         31332     4.0   974205261  as2251
1         31332     3.0   974205170  as7226
2         31332     3.0   974205034  as6479
3         31332     3.0   974205261  ns2422
4         31332     4.0   974205034  as4041
...         ...     ...         ...     ...
1499995   46200     4.0   994446596  as1415
1499996   46200     3.0   996245672   as927
1499997   46200     4.0   994446583  as8130
1499998   46200     4.0   996245646  ns5545
1499999   46200     4.0  1004466542  ns3187

[1500000 rows x 4 columns]

In [43]:
ratings4 = pd.read_csv(r"C:\Users\Roman Samuel Bracho\Desktop\HENRY\ratings\4.csv")
ratings4

         userId  rating   timestamp movieId
0         46200     5.0  1015603683  as3203
1         46200     1.0  1012323069  as5959
2         46200     3.0   996245609  as4430
3         46200     4.0   996245595  as6604
4         46200     3.0   996245595   ds311
...         ...     ...         ...     ...
1499995   61768     3.5  1438075483  hs1021
1499996   61768     3.0  1438075487   hs885
1499997   61768     4.0  1435694368  as4321
1499998   61768     4.0  1438075493  hs2422
1499999   61768     3.5  1438075491  as6170

[1500000 rows x 4 columns]

In [44]:
ratings5 = pd.read_csv(r"C:\Users\Roman Samuel Bracho\Desktop\HENRY\ratings\5.csv")
ratings5

         userId  rating   timestamp movieId
0         61768     4.0  1438075492  as5376
1         61768     3.0  1435693148  as7172
2         61768     3.0  1438075482  ns4557
3         61768     3.0  1438075496  ns7804
4         61768     3.5  1438075486  as3030
...         ...     ...         ...     ...
1499995   77403     4.0   852669256  as2081
1499996   77403     3.0   852669256  ns4047
1499997   77403     3.0   852669255   ns787
1499998   77403     3.0   852669333   hs541
1499999   77403     5.0   852669333  ns7174

[1500000 rows x 4 columns]

In [45]:
ratings6 = pd.read_csv(r"C:\Users\Roman Samuel Bracho\Desktop\HENRY\ratings\6.csv")
ratings6

         userId  rating   timestamp movieId
0        249182     3.5  1460518555   ds327
1        249182     4.0  1461878500  ns2124
2        249182     3.0  1460182087  as8841
3        249182     4.5  1460183214  hs2318
4        249182     2.5  1460184332  as5743
...         ...     ...         ...     ...
1499995  265409     5.0   891417264  as4345
1499996  265409     5.0   891417377  ns5982
1499997  265409     4.0   891417191  ns4622
1499998  265409     5.0   891417377  as3351
1499999  265409     4.0   891417573  ns6806

[1500000 rows x 4 columns]

In [46]:
ratings7 = pd.read_csv(r"C:\Users\Roman Samuel Bracho\Desktop\HENRY\ratings\7.csv")
ratings7

        userId  rating   timestamp movieId
0       265409     5.0   891417042   ds781
1       265409     5.0   891417042  as9331
2       265409     4.0   891417435   hs384
3       265409     3.0   891417191   hs398
4       265409     5.0   891417224  as8434
...        ...     ...         ...     ...
524284  270896     5.0  1257031564   hs447
524285  270896     5.0  1257032032  ns8706
524286  270896     4.5  1257031764  ns4476
524287  270896     4.5  1257033990  ns6149
524288  270896     2.0  1257031858  as6079

[524289 rows x 4 columns]

In [47]:
ratings8 = pd.read_csv(r"C:\Users\Roman Samuel Bracho\Desktop\HENRY\ratings\8.csv")
ratings8

         userId  rating   timestamp movieId
0        108422     4.5  1350689762  as1399
1        108422     4.0  1350341401  as6724
2        108422     5.0  1350689691   ns512
3        108422     4.5  1350341088  ns7444
4        108422     4.5  1350689619  as2230
...         ...     ...         ...     ...
1499995  124380     4.5  1196786159  ns5272
1499996  124380     2.5  1196786030  ns5492
1499997  124380     3.5  1196785679   hs305
1499998  124380     4.5  1196787089  ns7881
1499999  124380     1.5  1196785847   as883

[1500000 rows x 4 columns]

In [77]:
ratings = pd.concat([ratings1, ratings2, ratings2, ratings3, ratings4, ratings5, ratings6, ratings7, ratings8], axis = 0)

In [78]:
ratings

         userId  rating   timestamp movieId
0             1     1.0  1425941529   as680
1             1     4.5  1425942435  ns2186
2             1     5.0  1425941523  hs2381
3             1     5.0  1425941546  ns3663
4             1     5.0  1425941556  as9500
...         ...     ...         ...     ...
1499995  124380     4.5  1196786159  ns5272
1499996  124380     2.5  1196786030  ns5492
1499997  124380     3.5  1196785679   hs305
1499998  124380     4.5  1196787089  ns7881
1499999  124380     1.5  1196785847   as883

[12524289 rows x 4 columns]

In [79]:
ratings = ratings.rename(columns={'rating': 'score'})

In [80]:
ratings

         userId  score   timestamp movieId
0             1    1.0  1425941529   as680
1             1    4.5  1425942435  ns2186
2             1    5.0  1425941523  hs2381
3             1    5.0  1425941546  ns3663
4             1    5.0  1425941556  as9500
...         ...    ...         ...     ...
1499995  124380    4.5  1196786159  ns5272
1499996  124380    2.5  1196786030  ns5492
1499997  124380    3.5  1196785679   hs305
1499998  124380    4.5  1196787089  ns7881
1499999  124380    1.5  1196785847   as883

[12524289 rows x 4 columns]

In [81]:
import numpy as np

mask0 = ratings['movieId'].str.startswith('ama')
ratings['movieId'] = np.where(mask0, ratings['movieId'].str.replace('ama', 'as'), ratings['movieId'])

In [82]:
mask = ratings['movieId'].str.startswith('net')
ratings['movieId'] = np.where(mask, ratings['movieId'].str.replace('net', 'n'), ratings['movieId'])

In [83]:
mask1 = ratings['movieId'].str.startswith('hul')
ratings['movieId'] = np.where(mask1, ratings['movieId'].str.replace('hul', 'h'), ratings['movieId'])

In [84]:
mask2 = ratings['movieId'].str.startswith('dis')
ratings['movieId'] = np.where(mask2, ratings['movieId'].str.replace('dis', 'd'), ratings['movieId'])

In [85]:
ratings

         userId  score   timestamp movieId
0             1    1.0  1425941529   as680
1             1    4.5  1425942435  ns2186
2             1    5.0  1425941523  hs2381
3             1    5.0  1425941546  ns3663
4             1    5.0  1425941556  as9500
...         ...    ...         ...     ...
1499995  124380    4.5  1196786159  ns5272
1499996  124380    2.5  1196786030  ns5492
1499997  124380    3.5  1196785679   hs305
1499998  124380    4.5  1196787089  ns7881
1499999  124380    1.5  1196785847   as883

[12524289 rows x 4 columns]

In [86]:
ratings['avg_rating'] = ratings.groupby(['userId', 'movieId'])['score'].mean().reset_index(drop=True)

In [87]:
ratings = ratings.drop_duplicates(subset=['movieId'])

In [88]:
ratings = ratings.rename(columns={'avg_rating': 'ScoreMedia'})

In [89]:
ratings = ratings.drop(['timestamp'], axis=1)

In [90]:
ratings

        userId  score movieId  ScoreMedia
0            1    1.0   as680         5.0
1            1    4.5  ns2186         4.0
2            1    5.0  hs2381         5.0
3            1    5.0  ns3663         4.0
4            1    5.0  as9500         5.0
...        ...    ...     ...         ...
182025    1888    3.5  ns4069         2.5
195443    2030    4.5   ds619         3.0
198037    2062    4.0  ns7976         4.0
240502    2531    5.0  ns1837         3.0
281673    2975    4.0   ns720         4.0

[22998 rows x 4 columns]

In [91]:
merged_df = datos_PI_1.merge(ratings, left_on='id', right_on='movieId', how='inner')

In [101]:
ratings = merged_df.drop(columns=['show_id', 'type', 'director','cast', 'country', 'date_added',	'release_year',	'rating', 'duration', 'duration_int', 'duration_type', 'description', 'id', 'ScoreMedia'])

In [98]:
ratings = merged_df.drop(['ScoreMedia'], axis=1)

In [102]:
ratings

,title,listed_in,userId,score,movieId
0,the grand seduction,"comedy, drama",543,5.0,as1
1,take care good night,"drama, international",321,3.0,as2
2,secrets of deception,"action, drama, suspense",582,5.0,as3
3,pink: staying true,documentary,151,1.5,as4
4,monster maker,"drama, fantasy",24,5.0,as5
...,...,...,...,...,...
22993,zodiac,"cult movies, dramas, thrillers",817,4.0,ns8803
22994,zombie dumb,"kids' tv, korean tv shows, tv comedies",429,1.0,ns8804
22995,zombieland,"comedies, horror movies",24,4.0,ns8805
22996,zoom,"children & family movies, comedies",49,5.0,ns8806
22997,zubaan,"dramas, international movies, music & musicals",241,5.0,ns8807

In [103]:
ratings.reset_index().to_csv('Datos_ratings.csv', header = True, index = False)

In [96]:
##merged_df.reset_index().to_csv('Datos_PI.csv', header = True, index = False)